// Colors
$seagreen: #2E8B57;
$blue: #1b809e;
$red: #ce4844;
$purple: #6B5094;
$white: #ffffff;
$black: #000000;
$grey: #797979;
$light-grey: #EAE8E3;

// Fonts
$google-fonts-url: 'https://fonts.googleapis.com/css?family=Righteous|Open+Sans:400,800|Inconsolata';